{% extends "ping/base.html" %}



{% block content %}
    <!-- from django.shortcuts import render
    from django.views.decorators.csrf import csrf_exempt, csrf_protect

    @csrf_protect
    #@csrf_exempt says to make an exemption on csrf, but of course is not secure.
    #@csrf_exempt
    def show_rates(request, doc_id, template_name='rate.html'):
        ...
        #I suppose  that locals() returns a dict()
        return render(request, template_name, locals()) -->

    <form action = "" method = "POST">
        {% csrf_token %}
        <label for="nom">Nom: </label>
        <input id="nom" type="text" name="nom">
        
        <label for="prenom">Prenom: </label>
        <input id="prenom" type="text" name="prenom">

        <label for="adresse">Adresse: </label>
        <input id="adresse" type="text" name="adresse">

        <label for="tel">Tel: </label>
        <input id="tel" type="text" name="tel">
        
        <input type="submit" value="OK">
    </form>

    <h1>New member:</h1>

    <h3>{{ item }}</h3>

    <h1>Member:</h1>

    <ul>
        {% for item in adherent_liste %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>

    <a href="/">home</a>
{% endblock%}

