{% extends "ping/base.html" %}
{% block title%}View List{% endblock %}

{% block content %}
    <form action = "" method = "POST">
        {% csrf_token %}
        <label for="isbn">ISBN: </label>
        <input id="isbn" type="text" name="isbn">
        
        <label for="prenom">ID of Member: </label>
        <input id="prenom" type="text" name="prenom">

        <!-- <label for="adresse">OR A: </label>
        <input id="adresse" type="text" name="adresse">

        <label for="tel">Tel: </label>
        <input id="tel" type="text" name="tel"> -->
        
        <input type="submit" value="OK">
    </form>

    <h1>New Loan:</h1>

    <h3>{{ item }}{{ title }}</h3>

    <h1>Loans:</h1>

    <ul>
    {% for item in liste_emprunts %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>

    <a href="/">home</a>
{% endblock%}