{% extends "ping/base.html" %}
{% block title%}View List{% endblock %}

{% block content %}
    <form action = "" method = "POST">
        {% csrf_token %}
        <label for="isbn">ISBN: </label>
        <input id="isbn" type="text" name="isbn">
        
        <label for="prenom">ID of Member: </label>
        <input id="prenom" type="text" name="prenom">
        
        <input type="submit" value="OK">
    </form>

    

    <h1>Return Of The Loan: </h1>

    <h3>{{ item_loan }}{{ title }}</h3>

    <h1>Delay:</h1>

    <ul>
    {% for item in delay %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>

    <a href="/">home</a>
{% endblock%}